#main {
  width: 100%;
  height: 600px;
}

.headerLogo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-color {
  background-color: #f6d8d0;
}

.textosIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulosIndex {
  color: blueviolet;
}

.marginCarousel {
  margin-left: auto;
  height: 750px;
}

li {
  padding: 0 2rem;
}

.intro {
  font-size: xx-large;
  font-style: italic;
  font-stretch: semi-condensed;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #473D38;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.center {
  text-align: center;
}

.centerImg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerCovid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textoServicios {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: blueviolet;
}

.fotoServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.marginTop {
  margin-top: 2.5rem;
}

.fotoTalleres {
  width: 650px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.imagenCentrada {
  margin-left: auto;
  margin-right: auto;
}

.fotoCovid {
  width: auto;
  height: auto;
}

.fotosIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.fotosIndex img {
  margin: 1rem;
}

.fotosFooter {
  width: 30px;
  height: 30px;
}

section {
  background-color: white;
  padding: 20px;
}

h1 {
  display: inline;
}

nav ul li {
  display: inline;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  font-size: large;
  font-weight: 800;
  margin-top: 1.5rem;
}

.formularioColor {
  color: blueviolet;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.imgIndex {
  width: 350px;
  height: 350px;
}

.imgResponsive {
  height: 100%;
  width: 100%;
}

.mapaResponsive {
  height: 100%;
  width: 100%;
}

.colorMensaje {
  color: blueviolet;
  font-weight: 600;
}

header,
nav,
section {
  border-radius: 15px;
}

input[type=text],
input[type=email],
input[type=number] {
  width: 80px;
  height: 50px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

input:focus {
  width: 100px;
  height: 70px;
  font-size: 24px;
}

#divAnim {
  width: 100px;
  height: 100px;
  background-color: green;
}

#divTransition {
  width: 400px;
  height: 400px;
  background-color: red;
  -webkit-transition: height 2s;
  transition: height 2s;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#divTransition:hover {
  height: 200px;
  width: 300px;
  background-color: green;
}

.element.style {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*========MODIFICANDO PAGINA SERVICIOS==========*/
section h1 div {
  font-weight: bold;
  color: #000;
  background-color: #f6d8d0;
  margin-bottom: 2.5rem;
}

section p1 h4 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

/*========MODIFICANDO PAGINA SERVICIOS==========*/
/*==================== 
Footer 
====================== */
/* Main Footer */
footer .main-footer {
  background: #252525;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}

.footer-copyright .logo {
  display: inherit;
}

.footer-copyright nav {
  float: right;
  margin-top: 5px;
}

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}

.footer-copyright nav ul li a {
  color: #969696;
}

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}

footer.light .main-footer {
  background: #f9f9f9;
}

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}

.widget.widget-last {
  margin-bottom: 0px;
}

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.widget.subscribe p {
  margin-bottom: 18px;
}

.widget li a {
  color: #ff8d1e;
}

.widget li a:hover {
  color: #4b92dc;
}

.widget-title {
  margin-bottom: 20px;
}

.widget-title span {
  background: #839FAD none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}

ul.social-footer2 li a:hover {
  background-color: #ff8d1e;
}

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.btn {
  background-color: #ff8d1e;
  color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
  background: #4b92dc;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

/* EFECTOS INDEX 1 */
.efectoTextoDividido {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#b042b4), color-stop(60%, #f0b0f0), color-stop(60%, #fff), to(#fff));
  background: linear-gradient(to bottom, #b042b4, #f0b0f0 60%, #fff 60%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

#TextoDivididoSpan {
  position: relative;
}

#TextoDivididoSpan:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background: #000;
  bottom: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.efectoTextoDividido:hover {
  background-position: 0 11px;
}

#TextoDivididoSpan:hover:before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* EFECTOS INDEX 2*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: #D8D8D8;
}

.sectionEfectoTexto2 {
  color: #000;
  font-family: 'Maitree', serif;
}

.efectoTexto2 {
  font-size: 3em;
  font-weight: normal;
}

/* title styles */
.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.home-title span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  -webkit-animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

/* MEDIAS QUERIES*/
@media screen and (min-width: 1200px) {
  .imgResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 85%;
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .imgResponsive2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25%;
    width: 25%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .imgResponsive2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .imgResponsive2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40%;
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .imgResponsive2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 30%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 769px) {
  .imgResponsive2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50%;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .mapaResponsive {
    height: 700px;
    width: 100%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */