.efectoTextoDividido {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, rgb(176, 66, 180), rgb(240, 176, 240) 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
}

#TextoDivididoSpan {
    position: relative;
}

#TextoDivididoSpan:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background: #000;
    bottom: 4px;
    transition: all 0.2s ease-out;
}

.efectoTextoDividido:hover {
    background-position: 0 11px;
}

#TextoDivididoSpan:hover:before {
    transform: translateY(10px)
}